{% extends "base.twig" %}

{% block content %}

    <h1 class="heading" style="text-transform: capitalize">
        {% if(author) %} 
            {{author}}'s Blog
        {% else %}
            Blog
        {% endif %}
    </h1>

    <a class="blog-link" href="/blog">All Blog Posts</a>
    
    {% for author in authorsList %}
        <ul>
            <li class="blog-link">
                <a style="text-transform: capitalize" href="/blog/{{author.author}}">{{author.author}}'s Blog</a>
            </li>
        </ul>
    {% endfor %}
    
    

    {% for post in posts %}
        <div class="blog-post">
            <h3 class="blog-title">{{ post.title }}</h3>
            <p class="blog-user-date">By <span style="text-transform: capitalize">{{ post.author }}</span> - {{ post.date|date("d/m/Y")}} </p>
            	

            <p class="blog-body">{{ post.body }}</p>
        </div>
        
    {% endfor %}


{% endblock %}